Twitter_Interoperability_project/wsdl/JobPostingSoap.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://tempuri.org/" name="IJobPostingSoapService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <xsd:element name="SearchJobPostings">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="term" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchJobPostingsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="SearchJobPostingsResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobPostingSoapService_SearchJobPostings_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchJobPostings" />
  </wsdl:message>
  <wsdl:message name="IJobPostingSoapService_SearchJobPostings_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchJobPostingsResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobPostingSoapService">
    <wsdl:operation name="SearchJobPostings">
      <wsdl:input message="tns:IJobPostingSoapService_SearchJobPostings_InputMessage" />
      <wsdl:output message="tns:IJobPostingSoapService_SearchJobPostings_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJobPostingSoapService_soap" type="tns:IJobPostingSoapService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchJobPostings">
      <soap:operation soapAction="http://tempuri.org/IJobPostingSoapService/SearchJobPostings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IJobPostingSoapService">
    <wsdl:port name="BasicHttpBinding_IJobPostingSoapService_soap" binding="tns:BasicHttpBinding_IJobPostingSoapService_soap">
      <soap:address location="https://localhost:7186/JobPostingSoap.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>